<!DOCTYPE html>
<html>
<head>
    <link href="../../assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../../assets/stylesheets/main.css" rel="stylesheet" />
</head>
<body>
<div class="nav">
    <div class="container">
        <ul class = 'pull-left'>
            <li><a href="#">Voodipesu</a></li>
            <li><a href="#">Muud tooted</a></li>
        </ul>
        <ul class="pull-right">
            <li><a href="#">Telli siin</a></li>
            <li><a href="#">Logi sisse</a></li>
            <li><a href="#">Kontaktid</a></li>
        </ul>
    </div>
</div>

<div class = "jumbotron">
    <div class="container">
    <h1>Telli endali sobiv voodipesu komplekt meilt</h1>
        <p>Õmbleme just Sinule sobiva komplekti sinu valitud materjalist</p>
    </div>
    </div>

<div class="neighborhood-guides">
    <div class="container">
        <h2>Uued kangad</h2>
        <p>Sa naed meie uued kangad. Aga kindlasti vaata muid kangaid kah.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://static.wixstatic.com/media/98bdf5_d3379c2e7a3433e20e4429f13df2c672.jpg_srz_p_160_160_75_22_0.50_1.20_0.00_jpg_srz">
                </div>
                <div class="thumbnail">
                    <img src="http://static.wixstatic.com/media/98bdf5_5e7a76955aa6effb95f5c1baa7d03827.jpg_srz_p_160_161_75_22_0.50_1.20_0.00_jpg_srz">
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://static.wixstatic.com/media/98bdf5_9c7bc24bffd0cdb699bce9db285b669e.jpg_srz_p_160_160_75_22_0.50_1.20_0.00_jpg_srz">
                </div>
                <div class="thumbnail">
                    <img src="http://static.wixstatic.com/media/98bdf5_fbbc64796568bdda17d23ed4e61b0be4.jpg_srz_p_160_160_75_22_0.50_1.20_0.00_jpg_srz">
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="http://static.wixstatic.com/media/98bdf5_e6863f9570bc9390f34d0c0a785fbc29.jpg_srz_p_160_160_75_22_0.50_1.20_0.00_jpg_srz">
                </div>
                <div class="thumbnail">
                    <img src="http://static.wixstatic.com/media/98bdf5_6e78106c3013e97be5df1a8b9af0dde1.jpg_srz_p_160_161_75_22_0.50_1.20_0.00_jpg_srz">
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "learn-more">
        <div class = "container">
            <div class="row">
            <div class="col-md-4">
                <h3> Voodipesu </h3>
                <p> Voodipesu materjaliga saad tutvuda siin</p>

                <p>
                    <a href = "#"> Vajuta siia</a>
                </p>
            </div>

            <div class="col-md-4">
                <h3>Meie tooted</h3>
                <p>Muidugi ei tegele me ainult voodipesuga, tutvu meie toodetega siin.</p>
                <p><a href = "#"> Here will come something </a></p>
            </div>

            <div class="col-md-4">
                <h3>Kontakt</h3>
                <p>Lisaküsimustega võta meiega ühendust</p>
                <p>
                    <a href ="#">Küsi siit</a>
                </p>
            </div>
        </div>
        </div>
    </div>

</body>
</html>